extends layout

block content
  .container
    h1 Bem-vindo ao Sistema de Gestão de Despesas
    p Selecione uma das opções abaixo para começar:
    .menu
      a.btn.btn-primary(href="/despesas") Manutenção de Despesas
      a.btn.btn-primary(href="/categorias") Manutenção de Categorias
      a.btn.btn-primary(href="/comercio_animais") Manutenção de animais
