extends ../layout

block content
  .container.mt-5 
    h1 Lista de Categorias
    table.table.table-striped.table-hover
      thead
        tr
          th Descrição
          th.text-center Ações
      tbody
        each categoria in categorias
          tr
            td= categoria.get('descricao')
            td.text-center
              a.badge.bg-warning.text-dark(href=`/categorias/${categoria.id}/edit`, style="margin-right: 5px; cursor:pointer;")
                i.bi.bi-pencil
              form(action=`/categorias/${categoria.id}/delete` method="POST" style="display:inline;")
                button.badge.bg-danger(type="submit", style="border:none; cursor:pointer;")
                  i.bi.bi-trash
    a.btn.btn-secondary(href="/") Voltar
    a.btn.btn-primary(href="/categorias/add") Adicionar
